.section-6{
    padding: 5rem 10% 0 10%;
}

.section-6 .section-6-heading{
    text-align: center;
    padding-bottom: 5rem;
}

.section-6 .section-6-heading h2{
    font-size: 3rem;
    padding-bottom: 2rem;
    font-weight: 500;
}

.section-6 .section-6-heading h2 .italic-pink{
    font-style: italic;
    font-family: "Volkhov", serif;
    color: #ed4d86;
    font-weight: bold;
}

.section-6 .section-6-heading p{
    font-size: 1.5rem;
    max-width: 50vw;
    margin: auto;
    line-height: 1.7;
}

.section-6 .section-6-p1,
.section-6 .section-6-p2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding-bottom: 4rem;
}

.section-6 .section-6-p1 .section-box:hover > .box-img img,
.section-6 .section-6-p2 .section-box:hover > .box-img img{
    animation: bounce 0.6s ease;
}

/* .section-6 .section-6-p1 .section-box:hover > .box-text h3,
.section-6 .section-6-p2 .section-box:hover > .box-text h3{
    text-decoration: underline 2px solid #ed4d86;
    transition-duration: 1s;
    transition-property: text-decoration;
} */

.section-6 .section-6-p1 .section-box .box-img img,
.section-6 .section-6-p2 .section-box .box-img img{
    min-width: 80px;
}

.section-6 .section-6-p1 .section-box .box-text h3,
.section-6 .section-6-p2 .section-box .box-text h3{
    font-size: 1.5rem;
    padding: 1.5rem 0;
}


@media screen and (max-width: 1023px) {
    .section-6 .section-6-p1,
    .section-6 .section-6-p2{
        grid-template-columns: repeat(2, 1fr);
    }

    .section-6 .section-6-heading p{
        font-size: 1.5rem;
        max-width: none;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    
    .section-6 .section-6-heading h2{
        font-size: 2rem;
    }

    .section-6 .section-6-heading p{
        font-size: 1.25rem;
    }
    
    .section-6 .section-6-p1,
    .section-6 .section-6-p2{
        grid-template-columns: repeat(1, 1fr);
    }

    .section-6 .section-6-p1 .section-box .box-img img,
    .section-6 .section-6-p2 .section-box .box-img img{
        margin: auto;
        display: flex;
    }

    .section-6 .section-6-p1 .section-box .box-text h3,
    .section-6 .section-6-p2 .section-box .box-text h3{
        text-align: center;
    }
}