.section-2{
    padding: 5rem 10% 4rem 10%;
}

.section-2 .section-2-p1{
    text-align: center;
}

.section-2 .section-2-p1 h2{
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 2rem;
}

.section-2 .section-2-p1 h2 span{
    font-family: "Volkhov", serif;
    font-style: italic;
    color: #ed4d86;
}

.section-2 .section-2-p1 p{
    font-size: 1.5rem;
    max-width: 50vw;
    margin: auto;
    line-height: 1.7;
}

.section-2 .section-2-p2{
    display: flex;
    justify-content: space-between;
    padding: 5rem 0 0 0;
    margin: auto;
    max-width: 1200px;
}

.section-2 .section-2-p2 .section-2-card{
    max-width: 30%;
}

.section-2 .section-2-p2 .section-2-card:hover img{
    animation: bounce 0.6s ease;
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-10px); }
    50%  { transform: translateY(0); }
    70%  { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

.section-2 .section-2-p2 .section-2-card h3{
    font-size: 2rem;
    padding: 2rem 0;
}

@media screen and (max-width: 1023px) {
    .section-2 .section-2-p2{
        flex-direction: column;
    }

    .section-2 .section-2-p2 .section-2-card{
        max-width: 100%;
        padding-bottom: 3rem;
    }

    .section-2 .section-2-p2 .section-2-card h3{
        font-size: 2rem;
        padding: 1rem 0;
    }
}

@media screen and (max-width: 570px) {
    .section-2 .section-2-p1 p{
        max-width: none;
        font-size: 1.25rem;
    }

}

@media screen and (max-width: 480px) {
    .section-2 .section-2-p1 h2{
        font-size: 2rem;
    }

    .section-2 .section-2-p2 .section-2-card h3{
        font-size: 1.5rem;
    }
}