.section-3{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 5rem 10% 0 10%;
    padding: 5%;
    background: #fef4f7;
    border: 1px solid #ed4d86;
    border-radius: 50px;
}

.section-3 .section-3-p2 .section-text h2{
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
}

.section-3 .section-3-p2 .section-text h2 .bold{
    font-weight: bold;
}

.section-3 .section-3-p2 .section-text h2 .italic{
    font-style: italic;
    font-weight: bold;
    font-family: "Volkhov", serif;
}

.section-3 .section-3-p2 .section-text h2 .italic-pink{
    font-style: italic;
    font-weight: bold;
    font-family: "Volkhov", serif;
    color: #ed4d86;
}

.section-3 .section-3-p2 .section-text ul{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 3rem 0;
    gap: 2.5rem;
}

.section-3 .section-3-p2 .section-text button{
    padding: 1rem 3rem;
    background: #ed4d86;
    font-size: 1.1rem;
    border: none;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    margin: auto;
    display: flex;
}

.section-3 .section-3-p2 .section-text button:hover{
    background: #b83b66;
    transition-property: background;
    transition-duration: .5s;
}

@media screen and (max-width: 1400px) {
    .section-3 .section-3-p2 .section-text h2{
        font-size: 3rem;
    }

}

@media screen and (max-width: 1200px) {

    .section-3 .section-3-p2 .section-text h2{
        font-size: 2rem;
    }

    .section-3 .section-3-p2 .section-text ul{
        flex-direction: column;
        text-align: center;
    }

    .section-3 .section-3-p2 .section-text button{
        font-size: 1rem; 
    }
}

@media screen and (max-width: 1023px){
    .section-3{
        flex-direction: column;
    }

    .section-3 .section-3-p2 .section-text h2{
        font-size: 3rem;
    }

    .section-3 .section-3-p2 .section-text ul{
        list-style: none;
        gap: 1rem;
    }
}

@media screen and (max-width: 600px){
    .section-3 .section-3-p2 .section-text h2{
        font-size: 2rem;
    }
}

@media screen and (max-width: 400px){
    .section-3 .section-3-p2 .section-text h2{
        font-size: 1.5rem;
    }
}