.section-1{
    background: #f5fefe;
    border-left: 3px solid #3d7cfe;
    border-bottom: 3px solid #3d7cfe;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    padding: 3rem 10% 7rem 10%;
}

.section-1 .section-1-p1{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.section-1 .section-1-p1 .banner-text,
.section-1 .section-1-p1 .banner-img{
    width: 50%;
    max-width: 100%;
}

.section-1 .section-1-p1 .banner-text h1{
    font-size: 4rem;
    font-weight: 500;
    padding-bottom: 2rem;
}

.section-1 .section-1-p1 .banner-text h1 span:first-of-type{
    font-family: "Volkhov", serif;
    font-style: italic;
}

.section-1 .section-1-p1 .banner-text h1 span:last-of-type{
    font-weight: bold;
}

.section-1 .section-1-p1 .banner-text .banner-cta{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.section-1 .section-1-p1 .banner-text .banner-cta button{
    padding: 1rem 3rem;
    background: #ed4d86;
    font-size: 1.1rem;
    border: none;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    margin-right: 2rem;
}

.section-1 .section-1-p1 .banner-text .banner-cta button:hover{
    background: #b83b66;
    transition-property: background;
    transition-duration: .5s;
}

.section-1 .section-1-p1 .banner-img img{
    animation: flotarAnim 3s ease-in-out infinite;
    max-width: 100%;
}

@keyframes flotarAnim {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px); 
    }
}


.section-1 .section-1-p2{
    padding-top: 5rem;
}

.section-1 .section-1-p2 .section-text h2{
    font-weight: 500;
    font-size: 2.5rem;
}

.section-1 .section-1-p2 .section-text h2 span{
    font-weight: bold;
}

.section-1 .section-1-p2 .section-text p{
    padding: 1rem 0 3rem 0;
}

.section-1 .section-1-p2 .section-images{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.section-1 .section-1-p2 .section-images .img-container img{
    max-width: 100%;
    height: auto; 
    display: block;
}

.section-1 .section-1-p2 .section-images .img-container img:hover{
    transform: scale(1.1);
    transition-property: transform;
    transition-duration: 1s;
}









@media screen and (max-width: 1499px) {
    .section-1 .section-1-p1 .banner-text h1{
        font-size: 3rem;
    }
}

@media screen and (max-width: 1100px) {
    .section-1 .section-1-p1 .banner-text h1{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 1023px) {
    .section-1 .section-1-p1{
        flex-direction: column;
        gap: 2.5rem;
    }

    .section-1 .section-1-p1 .banner-text,
    .section-1 .section-1-p1 .banner-img{
        width: 100%;
    }

    .section-1 .section-1-p1 .banner-text h1{
        font-size: 4rem;
    }

    .section-1 .section-1-p2 .section-text{
        text-align: center;
    }
}

@media screen and (max-width: 750px) {

    .section-1{
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
    }

    .section-1 .section-1-p1 .banner-text h1{
        font-size: 3rem;
        text-align: center;
    }

    .section-1 .section-1-p2 .section-images{
        flex-direction: column;
        gap: 10px;
    }

    .section-1 .section-1-p2 .section-images .img-container img{
        margin: auto;
    }
}

@media screen and (max-width: 480px) {
    .section-1 .section-1-p1 .banner-text .banner-cta{
        flex-direction: column;
    }

    .section-1 .section-1-p1 .banner-text .banner-cta button{
        margin-bottom: 2rem;
        margin-right: 0rem;
    }

    .section-1 .section-1-p2 .section-text h2{
        font-size: 2rem;
    }
}