*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    color: #353148;
}

body, html{
    overflow-x: hidden;
}

.footer-divider svg{
    margin-bottom: -6px;
}

p{
    line-height: 1.7;
}